<!DOCTYPE HTML>
<html>
  <head>
    <title>Admin <%= controller_name %>::<%= action_name %></title>
    <%= stylesheet_link_tag 'admin/base' %>
    <%= javascript_include_tag 'admin/base' %>
  </head>
  <body>
    <%= render 'layouts/admin/header' %>

    <div id="page" class="container-fluid">
      <div id="content" class="row-fluid">
        <% if content_for? :sidebar %>
          <div id="sidebar" class="span3">
            <%= yield(:sidebar) %>
          </div>
        <% end %>

        <div id="main" class="<%= (content_for?(:sidebar) ? 'span9' : 'span12').html_safe %>">
          <div class="row-fluid title"><%= yield(:title) %></div>
          <%= render 'layouts/admin/flash_messages' %>
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
