<% content_for(:title) do %>
  <h1><%= resource_class.name %>: <%= resource.name %></h1>
<% end %>

<%= content_tag_for(:article, resource) do  %>
  <% show_attributes_for(resource_class).each do |attribute| %>
    <%= content_tag(:div, class: attribute) do %>
      <strong><%= resource_class.human_attribute_name(attribute) %></strong><br />
      <div><%= resource.send(attribute) %></div>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Back to List", collection_url, class: 'btn' %>

<% content_for :sidebar do  %>
  <%= render "sidebar" %>
<% end %>
